#root{
  width: 100%;
    min-height: 100vh; /* 100% of the viewport */

}
.homepage{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sidebar{
  width: 300px;
  min-height: 100vh; /* 100% of the viewport */

}
.content{
  
  flex: 1;
  min-height: 100vh; /* 100% of the viewport */
  background-color: beige;

}